---
layout: page
title: "Posts"
permalink: /posts/
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <h2 id="{{cat}}">{{ cat | capitalize }}</h2>
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date: "%F" }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>

<script type="text/javascript">
if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent)) {
  (function(cl,i,c,k,m,o,n){m=cl.location.protocol+c;o=cl.referrer;m+='&mon_rf='+encodeURIComponent(o);
  n='<'+i+' type="text/javascript" src="'+m+'"></'+i+'>';cl.writeln(n);
  })(document,'script','//mtab.clickmon.co.kr/pop/wp_m_150_js.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1037736%7C%5E%7CAdver_M_1003115');
} else {
  (function(cl,i,c,k,m,o,n){m=cl.location.protocol+c;o=cl.referrer;m+='&mon_rf='+encodeURIComponent(o);
  n='<'+i+' type="text/javascript" src="'+m+'"></'+i+'>';cl.writeln(n);
  })(document,'script','//tab2.clickmon.co.kr/pop/wp_ad_728_js.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1037736%7C%5E%7CAdver_M_1003115');
}
</script>
