<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <h1 class="title" style="color:black;">{{ site.title }}</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about/">About Me</a>
        <li class="nav-link"><a href="/posts/">Posts</a>
      </ul>
    </nav>
  </div>
</header>
